<!-- views/editProposal.ejs -->
<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
	<title>Review Program Proposal</title>
	<link rel="shortcut icon" type="image/ico" href="/public/favicon.ico"/>
    <p align="center">
    <a href="/profile"><img src="/public/images/ResConnectBanner.png" width="50%" height="50%" alt="ResConnect Logo"/></a></p>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script> <!-- load fontawesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
    <style>
        body        { padding-top:20px;}
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<a align="center" style="text-decoration: none; color: #333333"><h1><span class="fa fa-paper-plane"></span> View Program Proposal</h1><br>
	<p>Review the following Program Proposal from your staff. Contact the Event Contact regarding approval or denial, and delete this Program Proposal if you wish. Program Proposals may also include a PRA. Download this and turn it in accordingly.</p></a><br>

	<!-- FORM -->
	<div class="well">
		<form action="/deleteProposal/<%= Proposal[0].proposal_ID %>" method="post">
			<h1 align="center"><%= Proposal[0].eventName%></h1>
			<%if (Proposal[0].eventDateTime !== "0000-00-00 00:00:00") { %>
			<h3 align="center"><%= Proposal[0].eventDateTime.getMonth() + 1%>/<%= Proposal[0].eventDateTime.getDate()%>/<%= Proposal[0].eventDateTime.getFullYear()%> at <%=Proposal[0].eventDateTime.getHours()%>:<%=Proposal[0].eventDateTime.getMinutes()%>0</h3>
			<%}%>
			<div class="form-group">
				<label>Event Location</label>
				<p>&nbsp;&nbsp;&nbsp;<%= Proposal[0].eventLocation%></p>
			</div>
			<div class="form-group">
				<label>Event Description</label>
				<p>&nbsp;&nbsp;&nbsp;<%= Proposal[0].eventDescription%></p>
			</div>
			<div class="form-group">
				<label>Learning Outcome</label>
				<p>&nbsp;&nbsp;&nbsp;<%= Proposal[0].learningOutcome%></p>
			</div>
			<%if(Proposal[0].eventPRA !== null) { %>
				<div class="form-group">
					<label>Event PRA</label>
					<br>
					<a href="/public/files/PRAs/<%=Proposal[0].eventPRA%>" download class="btn btn-default btn-sm"><span class="fa fa-download"></span> Download PRA</a>
				</div>	
			<%}%>
	</div>

		<button type="submit" onclick="return confirm('Are you sure you want to delete this Program Proposal?');" class="btn btn-warning btn-lg">Delete</button>
	</form>

	<hr>

</div>

</div>
<p align="center">
        <a href="/proposal" class="btn btn-default btn-sm"><span class="fa fa-arrow-circle-left"></span> Back</a>
        <a href="/logout" class="btn btn-default btn-sm"><span class="fa fa-sign-out-alt"></span> Logout</a>
    </p>

</body>
</html>