<!-- views/viewAgreement.ejs -->
<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
	<title>Edit Roommate Agreement</title>
	<link rel="shortcut icon" type="image/ico" href="/public/favicon.ico"/>
    <p align="center">
    <a href="/profile"><img src="/public/images/ResConnectBanner.png" width="50%" height="50%" alt="ResConnect Logo"/></a></p>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script> <!-- load fontawesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
    <style>
        body        { padding-top:20px;}
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1 align ="center"><span class="fa fa-chess"></span> Edit Roommate Agreement for Room #<%= Agreement[0].roomNumber%></h1><br>
	<p align="center">In case of a roommate conflict, please reference the following Roommate Agreement and make changes where necessary. You may also delete a Roommate Agreement if two residents no longer live together. <b>Only remove a Roommate Agreement with the permission of your supervisor</b></p><br>

<form method="post" action="/deleteAgreement/<%= Agreement[0].agreementID %>">
  <p align = "center"><button type="submit" class="btn btn-warning btn-lg">Delete</button></p>
</form><br>

	<!-- AGREEMENT FORM -->
	<div class="well">
		<form action="/updateAgreement/<%= Agreement[0].agreementID %>" method="post">
			<h3>Basic Information</h3><br>
			<div class="form-group">
				<label>Room Number</label>
				<input type="number" class="form-control" name="roomNumber" value=<%= Agreement[0].roomNumber%>>
			</div>
			<div class="form-group">
				<label>Roommate A Full Name</label>
				<input type="text" class="form-control" name="roommate1" value="<%= Agreement[0].roommate1%>">
			</div>
			<div class="form-group">
				<label>Roommate B Full Name</label>
				<input type="text" class="form-control" name="roommate2" value="<%= Agreement[0].roommate2%>">
			</div>
	</div>

	<div class="well">
			<h3>Self Awareness</h3>
			<div class="form-group">
				<label>Roommate A</label>
				<p>You can tell when I'm stressed when I...</p>
				<input type="text" class="form-control" name="stressor1" value="<%= Agreement[0].stressor1%>">
			</div>
			<div class="form-group">
				<p>I manage stress by...</p>
				<input type="text" class="form-control" name="stressManagement1" value="<%= Agreement[0].stressManagement1%>">
			</div>
			<div class="form-group">
				<p>When I'm stressed, it helps when someone...</p>
				<input type="text" class="form-control" name="stressHelp1" value="<%= Agreement[0].stressHelp1%>">
			</div>
			<div class="form-group">
				<p>I am most comfortable communicating feelings via... (ex. texting, face-to-face, notes).</p>
				<input type="text" class="form-control" name="communicationVia1" value="<%= Agreement[0].communicationVia1%>">
			</div>

			<div class="form-group">
				<label>Roommate B</label>
				<p>You can tell when I'm stressed when I...</p>
				<input type="text" class="form-control" name="stressor2" value="<%= Agreement[0].stressor2%>">
			</div>
			<div class="form-group">
				<p>I manage stress by...</p>
				<input type="text" class="form-control" name="stressManagement2" value="<%= Agreement[0].stressManagement2%>">
			</div>
			<div class="form-group">
				<p>When I'm stressed, it helps when someone...</p>
				<input type="text" class="form-control" name="stressHelp2" value="<%= Agreement[0].stressHelp2%>">
			</div>
			<div class="form-group">
				<p>I am most comfortable communicating feelings via... (ex. texting, face-to-face, notes).</p>
				<input type="text" class="form-control" name="communicationVia2" value="<%= Agreement[0].communicationVia2%>">
			</div><br>
	</div>

	<div class="well">
		<h3>Right to Study</h3>
		<div class="form-group">
			<label>Study Preferences</label>
			<p>We prefer to work on homework during the following portions of our day/night: (ex. Morning, Afternoon, Evening, Late Night)</p>
			<input type="text" class="form-control" name="studyTime" value="<%= Agreement[0].studyTime%>">
		</div>
		<div class="form-group">
			<label>Activities While Studying</label>
			<p>While we are working on homework, we are comfortable with the following activities taking place (Ex. Music (headphones?), TV/Netflix (headphones?), Guests working, Guests Hanging out, Video Games, etc...) </p>
			<input type="text" class="form-control" name="studyActivities" value="<%= Agreement[0].studyActivities%>">
		</div>
		<div class="form-group">
			<label>Special Adjustments</label>
			<p>We would like to change our study schedule and habits during special parts of the year: (Exams, Bid Week, Gamedays, etc...) <b>If none, write "none"</b></p>
			<input type="text" class="form-control" name="studyAdjustments" value="<%= Agreement[0].studyAdjustments%>">
		</div><br>
	</div>

	<div class="well">
		<h3>Right to Sleep</h3>
		<div class="form-group">
			<label>Weekday Sleep Time</label>
			<p>On school nights (Sunday-Thursday) we agree to begin getting quiet to go to sleep around the following time: </p>
			<input type="time" class="form-control" name="weekdaySleeptime" value="<%= Agreement[0].weekdaySleeptime%>">
		</div>
		<div class="form-group">
			<label>Weekend Sleep Time</label>
			<p>On weekends (Friday, Saturday) we agree to begin getting quiet to go to sleep around the following time: </p>
			<input type="time" class="form-control" name="weekendSleeptime" value="<%= Agreement[0].weekendSleeptime%>">
		</div>
		<div class="form-group">
			<label>Activities While Sleeping</label>
			<p>While one or both of us are sleeping, we are comfortable with the following activities taking place (Ex. Lights On/Off, Music (headphones?), TV/Netflix (headphones?), Guests working, Guests Hanging out, Video Games, etc...) </p>
			<input type="text" class="form-control" name="sleepActivities" value="<%= Agreement[0].sleepActivities%>">
		</div><br>
	</div>

	<div class="well">
		<h3>Right to a Clean/Tidy Space</h3>
		<div class="form-group">
			<label>Roommate A</label>
			<p>Cleaning Responsibilities: (Ex. Responsible for own side, taking out trash, vacuuming, bathroom, picking up clothes, etc...)</p>
			<input type="text" class="form-control" name="cleanTasks1" value="<%= Agreement[0].cleanTasks1%>">
		</div>
		<div class="form-group">
			<p>Frequency: I will complete my responsibilities every...</p>
			<input type="text" class="form-control" name="cleanFrequency1" value="<%= Agreement[0].cleanFrequency1%>">
		</div>

		<div class="form-group">
			<label>Roommate B</label>
			<p>Cleaning Responsibilities: (Ex. Responsible for own side, taking out trash, vacuuming, bathroom, picking up clothes, etc...)</p>
			<input type="text" class="form-control" name="cleanTasks2" value="<%= Agreement[0].cleanTasks2%>">
		</div>
		<div class="form-group">
			<p>Frequency: I will complete my responsibilities every...</p>
			<input type="text" class="form-control" name="cleanFrequency2" value="<%= Agreement[0].cleanFrequency2%>">
		</div><br>
	</div>

	<div class="well">
		<h3>Right to Respect for Personal Belongings</h3>
		<div class="form-group">
			<label>Asking for Permission</label>
			<p>We prefer the following communication before using one another's belongings:</p>
			<input type="text" class="form-control" name="belongingPermission" value="<%= Agreement[0].belongingPermission%>">
		</div>
		<div class="form-group">
			<label>Shared Belongings</label>
			<p>We are comfortable sharing the following items in each category <b>(please write "none" if you are not comfortable sharing items in a category)</b></p>
			<b>&nbsp;&nbsp;&nbsp;Electronics</b>
			<input type="text" class="form-control" name="sharedElectronics" value="<%= Agreement[0].sharedElectronics%>">
			<b>&nbsp;&nbsp;&nbsp;Clothing/Accessories</b>
			<input type="text" class="form-control" name="sharedClothes" value="<%= Agreement[0].sharedClothes%>">
			<b>&nbsp;&nbsp;&nbsp;Food/Drink</b>
			<input type="text" class="form-control" name="sharedFood" value="<%= Agreement[0].sharedFood%>">
			<b>&nbsp;&nbsp;&nbsp;Household Items/Toiletries</b>
			<input type="text" class="form-control" name="sharedHousehold" value="<%= Agreement[0].sharedHousehold%>">
			<b>&nbsp;&nbsp;&nbsp;Other Items</b>
			<input type="text" class="form-control" name="sharedOther" value="<%= Agreement[0].sharedOther%>">
		</div>
		<div class="form-group">
			<label>While I'm Away</label>
			<p>If one roommate is away for the night/weekend, the following itms can be shared by the other roommate or their guests (think about food, beds, etc...): </p>
			<input type="text" class="form-control" name="whileAway" value="<%= Agreement[0].whileAway%>">
		</div><br>
	</div>

	<div class="well">
		<h3>Right to Personal Privacy</h3>
		<div class="form-group">
			<label>Respect</label>
			<p>We agree to refrain from gossip, notes, as well as uses of social media or videos/photos without knowledge that portray one another in a negative light</p><br>
			<label>Please indicate how each roommate will respect each other's personal privacy:</label>
			<input type="text" class="form-control" name="respectPrivacy" value="<%= Agreement[0].respectPrivacy%>">
		</div><br>
		<div class="form-group">
			<label>Personal Habits</label>
			<p>We acknowledge below personal habits and personal differences and recognize the impact they may have on our roommate relationship (consider social, academic, and personal habits as well as pet peeves): </p>
			<label>Roommate A</label>
			<p>Personal Habits</p>
			<input type="text" class="form-control" name="roommate1Habits" value="<%= Agreement[0].roommate1Habits%>">
			<p>Pet Peeves</p>
			<input type="text" class="form-control" name="roommate1PetPeeves" value="<%= Agreement[0].roommate1PetPeeves%>"><br>

			<label>Roommate B</label>
			<p>Personal Habits</p>
			<input type="text" class="form-control" name="roommate2Habits" value="<%= Agreement[0].roommate2Habits%>">
			<p>Pet Peeves</p>
			<input type="text" class="form-control" name="roommate2PetPeeves" value="<%= Agreement[0].roommate2PetPeeves%>">
		</div><br>
		<div class="form-group">
			<label>Respect for Guests</label>
			<p>If we want to have guests visit us in our room (different/same gender) during visitation OR would like to have guests stay the weekend, we will ask permission in the following ways: </p>
			<input type="text" class="form-control" name="guestPermission" value="<%= Agreement[0].guestPermission%>">
		</div>
		<div class="form-group">
			<label>Privacy with Guests</label>
			<p>If we have guests and we want to have 1-1 time with the guest without the roommate present, we will clearly communicate this by: </p>
			<input type="text" class="form-control" name="guestPrivacy" value="<%= Agreement[0].guestPrivacy%>">
		</div><br>
	</div>

	<div class="well">
		<h3>Safety and Security</h3>
		<div class="form-group">
			<label>Locking Doors</label>
			<b>Only you can use your student ID. You should never let guests/friends use your ID to enter your building or room. This is against policy</b>
			<br><br><p>We want our door shut and locked (not taped or propped) during the following times (Ex. Sleeping, Showering, When no one is home, At all times, Never, etc...)</p>
			<input type="text" class="form-control" name="whenLocked" value="<%= Agreement[0].whenLocked%>">
		</div>
		<div class="form-group">
			<label>Alcohol and Drugs</label>
			<b>Violations involving alcohol/drugs occurring in a room could be the responsibility of BOTH roommates</b>
			<br><br><p>We understand that if a drug or alcohol policy violation occurs in our space and no one is in the room (health and safety inspections, noise complaints, parties, etc.) ALL people involved and/or residents of the room could face consequences.</p>
			<label for="alcoholDrugs">Yes</label>
			<input type="checkbox" class="form-control" name="alcoholDrugs" value=1 checked=true>
		</div><br>
	</div>


	<div class="well">
		<h3>General Room Conditions</h3>
		<div class="form-group">
			<label>Room Temperature</label>
			<p>The temperature in our room may be altered in the following ways: (Thermostat, Fan, Window, etc...)</p>
			<input type="text" class="form-control" name="temperature" value="<%= Agreement[0].temperature%>">
		</div>
		<div class="form-group">
			<label>Property Damage</label>
			<p>If property/items in the room (university or personal) are damaged by us or our guests, we will tell each other and handle it in the following ways:</p>
			<input type="text" class="form-control" name="damage" value="<%= Agreement[0].damage%>">
		</div><br>
	</div>

	<div class="well">
		<h3>Roommate Creed</h3>
		<p>In addition to the University Creed, we agree to the following:</p>

		<b>We expect that all disagreements will be discussed in an atmosphere of openness and mutual respect</b><br><br>
		<b>We agree to hold each other accountable to our expectations outlined in this agreement</b><br><br>
		<b>We agree to respect each other enough to confront one another directly when we are not meeting the expectations outlined in this agreement.</b><br><br>
		<b>We will support and respect one another for our similarities and differences so we can be successful students at the University of Mississippi</b><br><br>
	</div>

	<div class="well">
		<h3>Mediation Opportunities</h3>
		<p>If we begin to experience concerns with the this agreement, we have the responsibility of taking the following steps in order to reach a solution: </p>

		<b>We should first openly and honestly speak with each other and attempt to work out concerns.</b><br><br>
		<b>If we need a little more guidance, we will reach out to our Community Assistant as soon as we can.</b><br><br>
		<b>If our Community Assistant needs a little more guidance, our Community Assistant will tell the professional member for our community (ex. Graduate Community Director/Community Coordinator/Assistant Director).</b><br><br>
		<b>We understand that the professional member will continue to include our Community Assistant (he/she knows us best), and will gather all information possible before meeting with us.</b><br><br>
	</div>

	<div class="well">
		<h3>Signatures</h3>
		<div class="form-group">
			<p>We agree to uphold the terms and conditions listed herein, please type your name in the spaces provided below as a digital signature.</p>
			<label>Roommate A</label>
			<input type="text" class="form-control" name="roommate1Signature" value="<%= Agreement[0].roommate1Signature%>"><br>
			<label>Roommate B</label>
			<input type="text" class="form-control" name="roommate2Signature" value="<%= Agreement[0].roommate2Signature%>">
		</div><br><br>
	</div>


		<button type="submit" class="btn btn-warning btn-lg">Update</button>
	</form>

	<hr>
	<p align="center">
        <a href="/profile" class="btn btn-default btn-sm"><span class="fa fa-arrow-circle-left"></span> Back</a>
        <a href="/logout" class="btn btn-default btn-sm"><span class="fa fa-sign-out-alt"></span> Logout</a>
    </p>

</div>

</div>
</body>
</html>