<!-- views/mapLayout.ejs -->
<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
	<title>Community Map</title>
  <link rel="shortcut icon" type="image/ico" href="/public/favicon.ico"/>
    <p align="center">
    <a href="/profile"><img src="/public/images/ResConnectBanner.png" width="50%" height="50%" alt="ResConnect Logo"/></a></p>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script> <!-- load fontawesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
    <style>
      body { 
        padding-top:20px;
        position: relative;
        text-align: center;
      }

    	.wrapper1{
      		display:grid;
      		grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
      		/*
      		grid-column-gap:1em;
      		grid-row-gap:1em;
      		*/
      		grid-gap:1em;
    	}

      .wrapper2{
          display:grid;
          grid-template-columns: 18% 18% 18% 18% 18% 18% 18% 18%;
          justify-content: center;
          /*
          grid-column-gap:1em;
          grid-row-gap:1em;
          */
          grid-gap:1em;
      }

    	.wrapper1 > div{
      		background:#eee;
      		padding:1em;
    	}
    	.wrapper1 > div:nth-child(odd){
      		background:#ddd;
    	}

      .wrapper2 > div{
          background:#eee;
          padding:1em;
          padding-left: 1px;
          padding-right: 1px;
      }
      .wrapper2 > div:nth-child(odd){
          background:#ddd;
      }

  </style>
</head>
<body>
<div class="container">

	<h1 align="center"><span class="fa fa-sitemap"></span> Community Map - Week of <%= communityMap[0].mapDate.getMonth() + 1%>/<%= communityMap[0].mapDate.getDate()%>/<%= communityMap[0].mapDate.getFullYear()%></h1><br>
  
	<p align="center">Click a box to fill in the info for each room. Generated templates are approximate, and you may not use all rooms on your Community Map. If a room is empty, or the map is too big, simply do not fill in those rooms. Maps are generated to over-estimate layouts, so a map should never be too small. Fill in the map the way that makes the most sense to you.</p>
  <p align="center"><b>For best results, please only use the Community Mapping module on a desktop computer.</b></p><br>

  <% if (Employee.communityID == "minor") { %> 

    <div class="wrapper1">
        <div class="room1">
          <a href="/addMapRoom/<%= communityMap[0].mapID %>/room1" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room1") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room1{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
            <%}%>
          </a>
        </div>
        <div class="room2">
          <a href="/addMapRoom/<%= communityMap[0].mapID %>/room2" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room2") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room2{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
            <%}%>
          </a>
        </div>
        <div class="room3">
          <a href="/addMapRoom/<%= communityMap[0].mapID %>/room3" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room3") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room3{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
              <%}%>
          </a>
        </div>
        <div class="room4">
          <a href="/addMapRoom/<%= communityMap[0].mapID %>/room4" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room4") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room4{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
              <%}%>
          </a>
        </div>
        <div class="room5">
          <a href="/addMapRoom/<%= communityMap[0].mapID %>/room5" style="text-decoration: none; color: #333333">Room
                <%for(var i = 0; i < communityMapData.length; i++) { %>
                  <%if(communityMapData[i].mapRoom == "room5") { %>
                    <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                    <style>
                    .room5{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                  <%}%>
                <%}%>
          </a>
        </div>
        <div class="room6">
          <a href="/addMapRoom/<%= communityMap[0].mapID %>/room6" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room6") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room6{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
            <%}%>
          </a>
        </div>
    	  <div class="room7">
          <a href="/addMapRoom/<%= communityMap[0].mapID %>/room7" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room7") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room7{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
            <%}%>
          </a>
        </div>
        <div class="room8">
          <a href="/addMapRoom/<%= communityMap[0].mapID %>/room8" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room8") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room8{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
              <%}%>
            <%}%>
          </a>
        </div>
        <div class="room9">
          <a href="/addMapRoom/<%= communityMap[0].mapID %>/room9" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room9") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room9{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
            <%}%>
          </a>
        </div>
      </div>
      <br>
      <div class="wrapper1">
        <div class="room10">
          <a href="/addMapRoom/<%= communityMap[0].mapID %>/room10" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room10") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room10{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
            <%}%>
          </a>
        </div>
        <div class="room11">
          <a href="/addMapRoom/<%= communityMap[0].mapID %>/room11" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room11") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room11{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
            <%}%>
          </a>
        </div>
        <div class="room12">
          <a href="/addMapRoom/<%= communityMap[0].mapID %>/room12" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room12") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room12{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
            <%}%>
          </a>
        </div>
        <div class="room13">
          <a href="/addMapRoom/<%= communityMap[0].mapID %>/room13" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room13") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room13{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
              <%}%>
          </a>
        </div>
        <div class="room14">
          <a href="/addMapRoom/<%= communityMap[0].mapID %>/room14" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room14") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room14{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
              <%}%>
          </a>
        </div>
        <div class="room15">
          <a href="/addMapRoom/<%= communityMap[0].mapID %>/room15" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room15") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room15{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
            <%}%>
          </a>
        </div>
    	  <div class="room16">
          <a href="/addMapRoom/<%= communityMap[0].mapID %>/room16" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room16") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room16{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
            <%}%>
          </a>
        </div>
        <div class="room17">
          <a href="/addMapRoom/<%= communityMap[0].mapID %>/room17" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room17") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room17{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
            <%}%>
          </a>
        </div>
        <div class="room18">
          <a href="/addMapRoom/<%= communityMap[0].mapID %>/room18" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room18") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room18{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
            <%}%>
          </a>
        </div>
      </div>
    <% } %>

    <% if (Employee.communityID == "martin") { %> 

      <div class="wrapper2" style="margin:auto; width: 50%;">
          <div class="room6">
            <a href="/addMapRoom/<%= communityMap[0].mapID %>/room6" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room6") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room6{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
            <%}%>
            </a>
          </div>
          <div class="room7">
            <a href="/addMapRoom/<%= communityMap[0].mapID %>/room7" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room7") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room7{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
              <%}%>
            <%}%>
            </a>
          </div>
          <div class="room8">
            <a href="/addMapRoom/<%= communityMap[0].mapID %>/room8" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room8") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room8{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
            <%}%>
            </a>
          </div>
          <div class="room9">
            <a href="/addMapRoom/<%= communityMap[0].mapID %>/room9" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room9") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room9{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
            <%}%>
            </a>
          </div>
          <div class="room10">
            <a href="/addMapRoom/<%= communityMap[0].mapID %>/room10" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room10") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room10{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
            <%}%>
            </a>
          </div>
          <div class="room11">
            <a href="/addMapRoom/<%= communityMap[0].mapID %>/room11" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room11") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room11{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
            <%}%>
            </a>
          </div><div class="room12">
            <a href="/addMapRoom/<%= communityMap[0].mapID %>/room12" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room12") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room12{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
              <%}%>
            </a>
          </div>
          <div class="room13">
            <a href="/addMapRoom/<%= communityMap[0].mapID %>/room13" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room13") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room13{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
            <%}%>
            </a>
          </div>
        </div>
        <br>
        <div class="wrapper2" style="margin:auto; width: 50%;">
          <div class="room5">
            <a href="/addMapRoom/<%= communityMap[0].mapID %>/room5" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room5") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room5{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
              <%}%>
            <%}%>
            </a>
          </div>
          <div style="background-color: #FFFFFF"></div>
          <div style="background-color: #FFFFFF"></div>
          <div style="background-color: #FFFFFF"></div>
          <div style="background-color: #FFFFFF"></div>
          <div style="background-color: #FFFFFF"></div>
          <div style="background-color: #FFFFFF"></div>
          <div class="room14">
            <a href="/addMapRoom/<%= communityMap[0].mapID %>/room14" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room14") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room14{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
            <%}%>
            </a>
          </div>
        </div>
        <br>
        <div class="wrapper2" style="margin:auto; width: 50%;">
          <div class="room4">
            <a href="/addMapRoom/<%= communityMap[0].mapID %>/room4" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room4") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room4{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
            <%}%>
            </a>
          </div>
          <div style="background-color: #FFFFFF"></div>
          <div style="background-color: #FFFFFF"></div>
          <div style="background-color: #FFFFFF"></div>
          <div style="background-color: #FFFFFF"></div>
          <div style="background-color: #FFFFFF"></div>
          <div style="background-color: #FFFFFF"></div>
          <div class="room15">
            <a href="/addMapRoom/<%= communityMap[0].mapID %>/room15" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room15") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room15{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
              <%}%>
            <%}%>
            </a>
          </div>
        </div>
        <br>
        <div class="wrapper2" style="margin:auto; width: 50%;">
          <div class="room3">
            <a href="/addMapRoom/<%= communityMap[0].mapID %>/room3" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room3") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room3{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
            <%}%>
            </a>
          </div>
          <div style="background-color: #FFFFFF"></div>
          <div style="background-color: #FFFFFF"></div>
          <div style="background-color: #FFFFFF"></div>
          <div style="background-color: #FFFFFF"></div>
          <div style="background-color: #FFFFFF"></div>
          <div style="background-color: #FFFFFF"></div>
          <div class="room16">
            <a href="/addMapRoom/<%= communityMap[0].mapID %>/room16" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room16") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room16{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
              <%}%>
            </a>
          </div>
        </div>
        <br>
        <div class="wrapper2" style="margin:auto; width: 50%;">
          <div class="room2">
            <a href="/addMapRoom/<%= communityMap[0].mapID %>/room2" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room2") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room2{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
            <%}%>
            </a>
          </div>
          <div style="background-color: #FFFFFF"></div>
          <div style="background-color: #FFFFFF"></div>
          <div style="background-color: #FFFFFF"></div>
          <div style="background-color: #FFFFFF"></div>
          <div style="background-color: #FFFFFF"></div>
          <div style="background-color: #FFFFFF"></div>
          <div class="room17">
            <a href="/addMapRoom/<%= communityMap[0].mapID %>/room17" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room17") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room17{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
            <%}%>
            </a>
          </div>
        </div>
        <br>
        <div class="wrapper2" style="margin:auto; width: 50%;">
          <div class="room25">
            <a href="/addMapRoom/<%= communityMap[0].mapID %>/room25" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room25") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room25{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
            <%}%>
            </a>
          </div>
          <div class="room24">
            <a href="/addMapRoom/<%= communityMap[0].mapID %>/room24" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room24") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room24{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
              <%}%>
            <%}%>
            </a>
          </div>
          <div class="room23">
            <a href="/addMapRoom/<%= communityMap[0].mapID %>/room23" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room23") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room23{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
            <%}%>
            </a>
          </div>
          <div class="room22">
            <a href="/addMapRoom/<%= communityMap[0].mapID %>/room22" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room22") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room22{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
            <%}%>
            </a>
          </div>
          <div class="room21">
            <a href="/addMapRoom/<%= communityMap[0].mapID %>/room21" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room21") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room21{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
            <%}%>
            </a>
          </div>
          <div class="room20">
            <a href="/addMapRoom/<%= communityMap[0].mapID %>/room20" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room20") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room20{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
              <%}%>
            <%}%>
            </a>
          </div>
          <div class="room19">
            <a href="/addMapRoom/<%= communityMap[0].mapID %>/room19" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room19") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room19{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
            <%}%>
            </a>
          </div>
          <div class="room18">
            <a href="/addMapRoom/<%= communityMap[0].mapID %>/room18" style="text-decoration: none; color: #333333">Room
              <%for(var i = 0; i < communityMapData.length; i++) { %>
                <%if(communityMapData[i].mapRoom == "room18") { %>
                  <b><%=communityMapData[i].roomNumber%></b> <span class="fa fa-check-square"></span>
                  <style>
                    .room18{
                      <%if(communityMapData[i].roomColorID == 'g'){ %>
                        background: #C0D890 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'y'){ %>
                        background: #FFFFD5 !important;
                      <%}%>
                      <%if(communityMapData[i].roomColorID == 'r'){ %>
                        background: #FFCCCC !important;
                      <%}%>
                      <%if(communityMapData[i].leaderInRoom == 1){ %>
                        border-style: solid !important;
                        border-color: #8A2BE2 !important;
                        border-width: 2px !important;
                      <%}%>
                    }
                  </style>
                <%}%>
            <%}%>
            </a>
          </div>
        </div>
    <% } %>

	<hr>

  <form method="post" action="/deleteMapping/<%= communityMap[0].mapID %>">
    <p align = "center"><button type="submit" class="btn btn-warning btn-lg">Delete</button></p>
  </form><br>

	<p align="center">
        <a href="/viewMapping" class="btn btn-default btn-sm"><span class="fa fa-arrow-circle-left"></span> Back</a>
        <a href="/logout" class="btn btn-default btn-sm"><span class="fa fa-sign-out-alt"></span> Logout</a>
    </p>

</div>
</body>
</html>